body{
  background: linear-gradient(#f2f2f26F 60%, #e7bbc0), url(./images/medFuze_Logo.png);
  background-position: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*--------------- Whole container section ends here --------------- */
.bigcontainer{
  background-color: #f7f7f7;
  display: flex;
  margin: 0 15% 10% 15%;
  height: 100%;
  border: 1px solid black;
  padding: 2em;
  border-radius: 1em;
}

.container{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.pdcontainer{
  width: 60%;
  padding: 2em;
}

/*--------------- Whole container section ends here --------------- */

/*--------------- Outline section ends here --------------- */
.container .wrapper{ 
  position: relative;
  border-radius: 10px;
  background: #fff;
  border: 2px groove #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 300px;
  width: 300px;
}
/*--------------- Outline section ends here --------------- */
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img{
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon{
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}

button {
  width: 30%;
  margin: 2em;
  padding: 1em;
  background-image: linear-gradient(135deg, #de8253 0%, #c9503d 100%);
  background-size: 200%;
  transition: 0.5s;
  color: #FFFFFF;
  border: none;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 2em #c97076;
}

button:hover {
  background-position: right center;
  transform: translateX(2px) translateY(2px);
}
/*--------------- Product details section ends here --------------- */

/* Input ------------------------------------------ */

/*--------------- Product details section ends here --------------- */

.cross {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 50px;
  left: 95%;
  bottom: 90%;
  cursor: pointer;
  z-index: 3;
}
