@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  text-align: center;
  background-color: #caf0f8;
  background-image: linear-gradient(135deg, #e8feff 0%, #caf0f8 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}
.mainContainer{

  border: 2px groove #c2cdda;
  background-color: #ade8f4;
  width:80%;
  position: relative;
  left: 8%;
  align-content: center;
  border: groove #fff;
  padding: 20px;
  margin: 80px;

}
/*--------------- Whole container section ends here --------------- */
.container{
  height: 350px;
  width: 430px;
  position: relative;
  top: 20%;
  left: 20%;
}
/*--------------- Whole container section ends here --------------- */


/*--------------- Outline section ends here --------------- */
.container .wrapper{ 
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px groove #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/*--------------- Outline section ends here --------------- */
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon{
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
.container #add-btn{
  margin-top: 30px;
  display: block;
  position: relative;
  left: 30%;
  width: 40%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
/* .container #clear-btn{
  margin-top: 30px;
  display: block;
  position: absolute;
  left: 0%;
  width: 40%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
} */
/*--------------- Product details section ends here --------------- */

/* basic stylings ------------------------------------------ */
.pdcontainer{
  position: absolute;
  left:60%;
  top: 20%;

}

.group  { 
  position:relative; 
  margin-bottom:25px; 
}
 .group input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background-color: transparent;
}
input:focus { 
  outline:none; 
}


label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


input:focus ~ label, details:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}


.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

details:focus ~ .bar:before, details:focus ~ .bar:after {
  width:50%;
}


.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}


details:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/*--------------- Product details section ends here --------------- */