body {
    background: linear-gradient(#f2f2f2CA 70%, #c3e6f7), url(./images/medFuze_Logo.png);
    background-position: center;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-list{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadein 1s forwards;
}

.menu-item{
    background-color: #f7f7f7;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    height: 400px;
    width: 400px;
    transition: 1s;
    overflow: hidden;
}

.menu-overlay{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 500px;
    justify-content: center;
    background: linear-gradient(#b62c7aFF 30%,#4e24647D);
    transition: 0.5s;
    color: white
}

.menu-overlay p{
    opacity: 0; 
    padding: 1.5em;
    text-align: center;
}
.menu-item:hover .menu-overlay{
    top:0;
}
.menu-item:hover .menu-overlay p{
    animation: fadein 0.5s forwards 0.5s;
}

.vial-container {
    background-color: rgb(247, 247, 247);
    height: inherit;
    display: flex;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.cross{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
    left: 95%;
    bottom: 90%;
    cursor: pointer;
    z-index: 3;
}

.vial {
    position: relative;
    width: 100%;
    animation: show 0.5s;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.img-container{
    width: 30%;
    cursor: pointer;
    text-align: center;
}

.toolbox{
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(#b62c7a 30%,#4e2464);
    box-shadow: 2px 2px 1em #5176cb;
    color: white;
    z-index: 10;
    padding: 2em;
    transition: 0.1s;
}

.img-container:hover .toolbox{
    display: block;
    animation: breathing 3s infinite ease-in-out;
}

.ingredient:hover{
    transform: translateY(10px);
}
.description:hover{
    transform: translateY(10px);
}

.description {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    opacity: 0;
    animation: fadein 0.5s forwards;
    animation-delay: 0.5s;
    margin: 2em;
    transition: 0.5s;
}

.ingredient {
    position: absolute;
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    padding: 4em;
    transition: 0.5s;
}

.ingredient span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

.ingredient .short{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    display: block;
}

.ingredient span:nth-child(1)
{
    transform:rotate(0deg);
}
.ingredient span:nth-child(2)
{
    transform:rotate(90deg);
}
.ingredient span:nth-child(3)
{
    transform:rotate(180deg);
}
.ingredient span:nth-child(4)
{
    transform:rotate(270deg);
}
.ingredient span:nth-child(5)
{
    transform:rotate(45deg);
}
.ingredient span:nth-child(6)
{
    top: 50%;
    left: 0%;
    transform:rotate(225deg);
}

.ingredient span:before{
    opacity: 0;
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #d0057a;
    animation: animate 1s forwards;
    animation-delay: 1s;
}


li{
    list-style-type: none;
}

button{
    width: 30%;
    margin: 2em;
    padding: 1em;
    background-image: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
    /* background-image: linear-gradient(to right, #5f59a7, #d0057a); */
    background-size: 200%;
    transition: 0.5s;
    color: #FFFFFF;
    border: none;
    border-radius: 1em;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 2em #201160;
}

button:hover{
    background-position: right center;
    transform: translateX(2px) translateY(2px);
}

.next{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}
.next:hover{
    background-color: rgba(0,0,0, 0.25);
    transition: 0.5s;
}

.arrow{
    height: 50%;
    width: 50%;
    filter: invert(0.8);
    transition: 1s;
}
.right{
    transform: scaleX(-1);
}
.next:hover .arrow{
    filter: invert(0.3);
}

.price-wrap{
    display: inline-flex;
}

.dollar-sign{
    transform: translateY(0.15em);
    font-size: 1.5em;
    margin-right: 0.25em;
}
.price-1{
    font-size: 2.5em;
    z-index: 1;
}
.price-2{
    font-size: 1.5em;
    margin-left: 0.25em;
    transform: translateY(0.15em);
}

@keyframes show {
    0% {
        bottom: 200px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        opacity: 1;
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }
}

@keyframes breathing {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(0px);
    }
}
