html,
body {
    height: 100%;
    margin: 0;
}

.menu{
    display: flex;
    padding: 2em;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadein 1s forwards;
}

.menu-item{
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    margin: 1em;
    height: 400px;
    width: 400px;
    transition: 1s;
    overflow: hidden;
}

.menu-overlay{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 500px;
    justify-content: center;
    background: linear-gradient(rgba(247,247,247,1),rgba(247,247,247,0));
    transition: 0.5s;
}

.menu-overlay p{
    opacity: 0; 
    padding: 1.5em;
    text-align: center;
}
.menu-item:hover .menu-overlay{
    top:0;
}
.menu-item:hover .menu-overlay p{
    animation: fadein 0.5s forwards 0.5s;
}

#vial-container-wrap{
    display: flex;
    flex-direction: row;
}


.vial-container {
    background-color: rgb(247, 247, 247);
    height: inherit;
    display: flex;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.cross{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
    left: 95%;
    bottom: 90%;
}

.vial {
    position: relative;
    flex: 0 0 25%;
    animation: show 0.5s;
    animation-fill-mode: forwards;
    opacity: 1;
}

.description {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    opacity: 0;
    animation: fadein 0.5s forwards;
    animation-delay: 0.5s;
    margin: 2em;
}

.ingredient {
    position: absolute;
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    padding: 4em;
}

.ingredient span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

.ingredient .short{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    display: block;
}

.ingredient span:nth-child(1)
{
    transform:rotate(0deg);
}
.ingredient span:nth-child(2)
{
    transform:rotate(90deg);
}
.ingredient span:nth-child(3)
{
    transform:rotate(180deg);
}
.ingredient span:nth-child(4)
{
    transform:rotate(270deg);
}
.ingredient span:nth-child(5)
{
    transform:rotate(45deg);
}
.ingredient span:nth-child(6)
{
    top: 50%;
    left: 0%;
    transform:rotate(225deg);
}

.ingredient span:before{
    opacity: 0;
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: black;
    animation: animate 1s forwards;
    animation-delay: 1s;
}

li{
    list-style-type: none;
    transform: translateX(-1em);
}

button{
    margin: 2em;
    padding: 1em;
    background-color: aqua;
    border: none;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
    transition: 0.5s;
}

.next{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.next:hover{
    background-color: rgba(0,0,0, 0.25);
    transition: 0.5s;
}

@keyframes show {
    0% {
        bottom: 200px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        opacity: 1;
        transform: scaleX(0);
        transform-origin: left;
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
    }
}
