
body{
  background: linear-gradient(#f2f2f26F 60%, #c3e6f7), url(./images/medFuze_Logo.png);
  background-position: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*--------------- Splash start --------------- */
.sH3 {

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;

}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f8f7ff;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: open;
  animation-duration: 1s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

.splash .img {
  background-image: url("images/spashLogo.png");
  background-repeat: no-repeat;
  height: 130px;
  width: 145px;
}

.splash::after,
.splash::before {
  content: "";
  position: absolute;
  background-color: #f8f7ff;
  height: 937px;
  width: 576px;
  z-index: 99;
  animation-name: open;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.splash::after {
  left: 576px;
  animation-delay: 200ms;
}

.splash::before {
  left: 0;
  animation-delay: 1s;
}

@keyframes open {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

/*--------------- Splash end --------------- */

.bg-image{
  user-select: none;
  position: absolute;
  right: 2%;
  bottom: 2%;
}
/*--------------- Zoom In nav bar background --------------- */


/* red pill */
.pill1 {
  position: absolute;
  right: 20%;
  top: 25%;
  box-sizing: border-box;
  animation: float1 6s ease-in-out infinite;

}

/* blue pill */
.pill2 {
  position: absolute;
  right: 40%;
  top: 10%;
  box-sizing: border-box;
  animation: float2 6s ease-in-out infinite;

}

.pill2 {
  position: absolute;
  right: 40%;
  top: 10%;
  box-sizing: border-box;
  animation: float2 4s ease-in-out infinite;

}

.pill3 {
  width: 2%;
  position: absolute;
  right: 40%;
  top: 30%;
  box-sizing: border-box;
  animation: float3 3s ease-in-out infinite;
}

.pill4 {
  width: 3%;
  position: absolute;
  right: 25%;
  top: 2%;
  box-sizing: border-box;
  animation: float4 8s ease-in-out infinite;
}

.pill5 {
  width: 5%;
  position: absolute;
  right: 30%;
  top: 20%;
  box-sizing: border-box;
  animation: float5 5s ease infinite;
}

@keyframes float1 {

  0% {
    transform: translatey(0px);
  }

  25% {
    transform: translatey(-90px) rotate(30deg);
  }

  100% {

    transform: translatey(0px);
  }

}

@keyframes float2 {

  0% {

    transform: translatey(0px);

  }

  50% {

    transform: translatey(-40px) rotate(-15deg);

  }

  100% {

    transform: translatey(0px);

  }

}

@keyframes float3 {

  0% {
    transform: translatey(0px);
  }

  70% {
    transform: translatey(30px) rotate(25deg);
  }

  100% {

    transform: translatey(0px);

  }

}

@keyframes float4 {
  0% {
    transform: translatey(15px) rotate(45deg);
  }
  70%{
    transform: translatey(45px) rotate(270deg);
  }
  100% {
    transform: translatey(15px) rotate(45deg);
  }

}

@keyframes float5 {
  0% {
    transform: translatey(0px) rotate(0deg);
  }
  70%{
    transform: translatey(10px) rotate(10deg);
  }
  100% {
    transform: translatey(0px) rotate(0deg);
  }

}

.overlay {
  background: linear-gradient(#DDF5F7 80%, #A5E9E1, #44679F);
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}


.container.active .shadow.one {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(5deg) translateZ(360px) scale(0.5);
}

/*--------------- Card start here --------------- */

.slogan{
  position: relative;
  width: 30%;
  height: 40vh;
  margin-left: 15%;
}

.mainContent {
  position: absolute;
  top: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
}

.textContent1 {
  position: absolute;
  top: 40%;
  left:50%;
  font-size: 21px;
  width: 350px;
}

.main-container button {
  position: absolute;
  top: 60%;
  background: none;
  text-transform: uppercase;
  color: #1f271b;
  background: linear-gradient(to left, #7AD7F0,#abdcf2,#c6e7f6,#e2f2fa, #F5FCFF);
  width: 220px;
  height: 60px;
  border: 3px solid #fff;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  overflow: hidden;
  cursor: pointer;
  background-size: 200%;
  box-shadow: 0 0 2em #51649d;
  outline: none;
}

.main-container button:hover {
  background-position: center;
  box-shadow: 0 0 1em #51649d;
}

/*--------------- Card end here --------------- */

/*--------------- Zoom In nav bar background --------------- */

.title {
  font-size: 2.7rem;
  /*Font size root element */
}

