@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

   /*--------------- Zoom out nav bar background --------------- */
.container {
  min-height: 100vh;
  width: 100%;
  background-color: #caf0f8;
  background-image: linear-gradient(135deg, #e8feff 0%, #caf0f8 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}
   /*--------------- Zoom out nav bar background --------------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72em;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 4rem;
  color:#0a1128;
}


.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.4rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #0a1128;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #0a1128;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

   /*--------------- Zoom In nav bar background --------------- */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #e8feff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
 

.intro {
  max-width: 35rem;
  left: 500px;
  text-align: center;
  color:#0a1128;
  padding: 0 2rem;
}
  /*--------------- Zoom In nav bar background --------------- */

.title {
  font-size: 2.7rem; /*Font size root element */
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color:#0a1128;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

/*--------------- footer section starts here --------------- */
.horizontal-scroll {
  width: 100%;
  height: 200px;
  background: url('http://mckenziedave.co.uk/1st-touch/footer_fr.png');
  -webkit-animation: backgroundScroll 400s linear infinite;
  animation: backgroundScroll 60s linear infinite;
  background-repeat: no-repeat;
  }
  
  @-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -600px 0;}
  }
          
  @keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -2000px 0;}
  }
  
  .horizontal-scroll2 {
  width: 100%;
  height: 200px;
  background: url('http://mckenziedave.co.uk/1st-touch/footer_bg.png');
  -webkit-animation: backgroundScroll2 400s linear infinite;
  animation: backgroundScroll2 30s linear infinite;
  background-repeat: no-repeat;
  }
  
  @-webkit-keyframes backgroundScroll2 {
  from {background-position: -1000px 0;}
  to {background-position: 0 0;}
  }
          
  @keyframes backgroundScroll2 {
  from {background-position: -2000px 0;}
  to {background-position: 0 0;}
  }

  
h2{
    position:initial;
    left: 40%;
    text-align: left;
}
.email{
  height: 100px;
  width: 300px;
  position: absolute;
  left: 20px ;
  }
  
.aboutus{
  height: 100px;
  width: 300px;
  position: absolute;
  left: 440px ;
  }
  
.customerS{
  height: 100px;
  width: 250px;
  position: absolute;
  left: 840px ;

}
.customerS li{
  position:relative; 
  left:60px;

}
.socialMedia-icons{

  height: 100px;
  width: 250px;
  position: absolute;
  left: 1130px ;

}
.site-footer .icons
{
  text-align:left;
}
.site-footer .icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:20px;
  border-radius:100%;
  background-color:#33353d
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

.icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.icons li
{
  display:inline-block;
  margin-bottom:4px
}
.icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.icons a:active,.icons a:focus,.icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.icons a.facebook:hover
{
  background-color:#3b5998
}
.icons a.twitter:hover
{
  background-color:#00aced
}
.icons a.linkedin:hover
{
  background-color:#007bb6
}
.icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
  
/*--------------- footer section ends here --------------- */